.hero {
  width: 100%;
  padding: 1em 0;
  background: var(--theme-primary);
}

.hero__container {
  height: 8vh;
  min-height: auto;
  padding-left: 2em;
  align-items: left;
}

@media (min-width: 1000px) {
  .hero__container {
    align-items: flex-start;
    margin-left: 21rem;
  }
}
.hero h1 {
  color: white;
}

.navbar__domain {
  -webkit-padding-after: 4px;
}
