@import 'hero.css';
@import 'markdown.css';
@import 'responsive.css';
@import 'variables.css';
@import 'badge.css';
@import 'tooltip.css';
@import 'customvariables.css';
@import 'highlight/solarized-light.css';

.documentation {
  padding: 0;
}

h1#documentation,
h2#documentation,
h3#documentation {
  border: none;
}

ul {
  line-height: 1.5em;
}

.return-datagouvfr {
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 1em;
}

.side-pane .side-pane__menu {
  padding: 1.5em;
}

.side-pane__link {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.edit {
  margin-top: 2em;
}

.consolidation-badge {
  margin-bottom: 1em;
  display: block;
}

.consolidation-details {
  margin-top: 2em;
}
