[tooltip]:before {
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  padding: 10px;
  border-radius: 3px;
}

[tooltip]:hover:before {
  opacity: 1;
  background: #0054B3;
  color: white;
  margin-top: -50px;
}

[tooltip]:hover {
  cursor: pointer;
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}
