// colors
$color-white: #FFFFFF;
$color-lighter-grey: #EBEFF3;
$color-light-grey: #C9D3DF;
$color-grey: #ADB9C9;
$color-dark-grey: #8393A7;
$color-darker-grey: #53657d;
$color-black: #1C1C1C;

$color-blue: #0053B3;
$color-light-blue: #006be6;
$color-dark-blue: #003b80;

$color-footer-light-blue: #2854B5;
$color-footer-medium-blue: #264EA6;
$color-footer-dark-blue: #274492;
