{% if include.schema_data.consolidation %}
  {% assign consolidation = include.schema_data.consolidation %}

  <h2>Jeu de données consolidé</h2>

  <p>
    Une consolidation de données est effectuée à partir de ce schéma. Vous pouvez retrouver le jeu de données résultant de cette consolidation sur data.gouv.fr
  </p>

  <div data-udata-dataset="{{ consolidation.dataset_id }}"></div>

  <div class="js-consolidation-details consolidation-details"></div>

  <script>
    const datasetId = document.querySelector('[data-udata-dataset]').getAttribute('data-udata-dataset')

    const maybePluralize = (count, noun, suffix = 's') => `${count} ${noun}${count !== 1 ? suffix : ''}`

    fetch('https://etalab.github.io/monitor-consolidation/report.json')
      .then(response => response.json())
      .then(data => {
        const report = data[datasetId]

        const formatter = Intl.NumberFormat()

        datasetDetails = `
          <div class="consolidation-badge">
            <img src="${report['badge_url']}" alt="Badge de consolidation">
          </div>
          <p>
            La dernière version de ce jeu de données comporte ${maybePluralize(formatter.format(report['nb_rows']), 'ligne')}
            et un total de ${maybePluralize(formatter.format(report['nb_errors']), 'erreur')}.
            Le dernier rapport de validation peut être
            <a href="${report['report_url']}" title="Rapport de validation">consulté en ligne</a>.
          </p>
        `

        document.querySelector('.js-consolidation-details').innerHTML = datasetDetails
      });
  </script>
  <script data-udata="https://www.data.gouv.fr" src="https://static.data.gouv.fr/static/oembed.js" async defer></script>
{% endif %}
