---
layout: default
---

{% include hero.html %}
{% assign lang = page.lang | default: site.lang | default: "en" %}
<section class="documentation">
  {% include sidebar.html %}
  <div class="main-pane">
    <div class="markdown">
      {{ content }}
      {% if page.url != '/' %}
      <p class="edit text-center">
        <a class="button" href="https://github.com/{{ site.github_repository }}/edit/master/collections/{{ page.path }}">
            ✎ {{ site.i18n[lang].edit }}
        </a>
      </p>
      {% endif %}
    </div>
  </div>
</section>
