---
layout: default
---

{% include hero.html %}
{% assign lang = page.lang | default: site.lang | default: "en" %}
<section class="documentation">
  {% include sidebar.html %}
  <div class="main-pane">
    <div class="markdown">
      {% assign url_parts = page.url | split: '/' %}
      {% assign slug = url_parts[1] | append: "/" | append: url_parts[2] %}
      {% assign schema_data = site.data.schemas[slug] %}
      <h2>{{ slug }} <small><span class="label">{{ page.version }}</span></small></h2>
      {% if site.data.badges[slug] %}
      <div class="badge-container">
        {% for badge in site.data.badges[slug] %}
          <span class="label" tooltip="{{ site.data.badges[badge] }}">{{ badge }}</span>
        {% endfor %}
      </div>
      {% endif %}
      <div class="text-quote">
        <ul>
          {% if schema_data.has_changelog %}
          <li><a href="{{ slug | append: '/latest/changelog.html' | relative_url }}">Changements sur ce schéma</a></li>
          {% endif %}
          {% for schema in schema_data.schemas %}
            {% if schema.versions contains page.version %}
            <li>
              <a href="{{ '/schemas/' | append: slug | append: '/' | append: page.version | append: '/' | append: schema.path | relative_url }}">Schéma {{ schema.title }} {{ page.version }} (format {{ schema_data.type }})</a>
            </li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ schema_data.homepage }}" title="Page d'accueil du schéma">Répertoire Git du schéma</a></li>
          <li>Contact : {{ schema_data.email }}</li>
          <li>Versions disponibles :
            <ul>
            {% assign versions_reverse = schema_data.versions | reverse %}
            {% for version in versions_reverse %}
              <li>
                <a href="{{ slug | append: '/' | append: version | append: '.html' | relative_url }}">
                  {{ version }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </li>
        </ul>
      </div>

      {% if schema_data.type == "tableschema" %}
      {% if schema_data.external_doc %}
      <div class="form__group" style="margin-top: 3em">
        <a style="min-width: 48%" href="{{ slug | append: '/' | append: page.version | append: '/documentation.html' | relative_url }}" title="Documentation du modèle de données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
          Documentation technique
        </a>

        <a style="min-width: 48%" href="{{ schema_data.external_doc }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
          Documentation externe
        </a>
      </div><br/>
      <div>
        <a style="min-width: 48%" href="{{ 'https://csv-gg.etalab.studio/?schema=' | append: slug }}" title="Saisir des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 13h-4v-1h4v1zm2.318-4.288l3.301 3.299-4.369.989 1.068-4.288zm11.682-5.062l-7.268 7.353-3.401-3.402 7.267-7.352 3.402 3.401zm-6 8.916v.977c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h14.056l1.977-2h-18.033v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-3.843l-2 2.023z"/></svg>
          Saisir des données
        </a>
        <a style="min-width: 48%" href="{{ 'https://validata.etalab.studio/table-schema?schema_url=https://schema.data.gouv.fr/schemas/' | append: slug | append: '/' | append: page.version | append: '/schema.json' }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
          Valider des données
        </a>
      </div>
      {% else %}
      <div class="form__group" style="margin-top: 3em">
        <a href="{{ slug | append: '/' | append: page.version | append: '/documentation.html' | relative_url }}" title="Documentation du modèle de données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
          Lire la documentation
        </a>

        <a href="{{ 'https://csv-gg.etalab.studio/?schema=' | append: slug }}" title="Saisir des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 13h-4v-1h4v1zm2.318-4.288l3.301 3.299-4.369.989 1.068-4.288zm11.682-5.062l-7.268 7.353-3.401-3.402 7.267-7.352 3.402 3.401zm-6 8.916v.977c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h14.056l1.977-2h-18.033v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-3.843l-2 2.023z"/></svg>
          Saisir des données
        </a>

        <a href="{{ 'https://validata.etalab.studio/table-schema?schema_url=https://schema.data.gouv.fr/schemas/' | append: slug | append: '/' | append: page.version | append: '/schema.json' }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
          Valider des données
        </a>
      </div>
      {% endif %}
      {% else %}
      {% if schema_data.external_doc %}
      {% if schema_data.external_tool %}
      <div class="form__group" style="margin-top: 3em">
        <a href="{{ schema_data.external_doc }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
          Documentation externe
        </a>
        <a href="{{ schema_data.external_tool }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 13h-4v-1h4v1zm2.318-4.288l3.301 3.299-4.369.989 1.068-4.288zm11.682-5.062l-7.268 7.353-3.401-3.402 7.267-7.352 3.402 3.401zm-6 8.916v.977c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h14.056l1.977-2h-18.033v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-3.843l-2 2.023z"/></svg>
          Saisir des données
        </a>
      </div>
      {% else %}      
      <div class="form__group" style="margin-top: 3em">
        <a href="{{ schema_data.external_doc }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z"/></svg>
          Documentation externe
        </a>
      </div>
      {% endif %}
      {% endif %}
      {% unless schema_data.external_doc %}
      {% if schema_data.external_tool %}
      <div class="form__group" style="margin-top: 3em">
        <a href="{{ schema_data.external_tool }}" title="Valider des données" class="button icon-button">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 13h-4v-1h4v1zm2.318-4.288l3.301 3.299-4.369.989 1.068-4.288zm11.682-5.062l-7.268 7.353-3.401-3.402 7.267-7.352 3.402 3.401zm-6 8.916v.977c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h14.056l1.977-2h-18.033v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-3.843l-2 2.023z"/></svg>
          Saisir des données
        </a>
      </div>
      {% endif %}
      {% endunless %}

      {% endif %}
      {{ content }}
      {% include consolidation.html schema_data=schema_data %}
      {% include datasets.html slug=slug type=schema_data.type %}
    </div>
  </div>
</section>
