---
layout: default
---

{% include hero.html %}
{% assign lang = page.lang | default: site.lang | default: "en" %}
<section class="documentation">
  {% include sidebar.html %}
  <div class="main-pane">
    <div class="markdown">
      {% assign url_parts = page.url | split: '/' %}
      {% assign slug = url_parts[1] | append: "/" | append: url_parts[2] %}
      {% assign schema_data = site.data.schemas[slug] %}
      <h2>{{ slug }} <small><span class="label">{{ page.version }}</span></small></h2>
      <div class="text-quote">
        <ul>
          {% if schema_data.type == "tableschema" %}
          <li><a href="{{ slug | append: '/' | append: page.version | append: '/documentation.html' | relative_url }}">Documentation du modèle de données</a></li>
          {% endif %}
          {% if schema_data.has_changelog %}
          <li><a href="{{ slug | append: '/latest/changelog.html' | relative_url }}">Changements sur ce schéma</a></li>
          {% endif %}
          <li><a href="{{ '/schemas/' | append: slug | append: '/' | append: page.version | append: '/schema.json' | relative_url }}">Schéma {{ schema_data.type }} {{ page.version }}</a></li>
          <li><a href="{{ page.homepage }}" title="Page d'accueil du schéma">Répertoire Git du schéma</a></li>
          <li>Contact : {{ schema_data.email }}</li>
          <li>Versions disponibles :
            <ul>
            {% for version in schema_data.versions %}
              <li>
                <a href="{{ slug | append: '/' | append: version | append: '.html' | relative_url }}">
                  {{ version }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
      {{ content }}
    </div>
  </div>
</section>
